section.content-section#cartel
	.container
		.row
			.col-12
				.cartel-title
					h3
						| #{i18n.cartel.title}
				.cartel-view
					a(download="carrancacony-19.png" href="./media/img/carrancacony-19.png" title=i18n.cartel.tooltipImg)
						img(src=i18n.cartel.urlImg onerror="this.onerror=null; this.src='./media/img/carrancacony-19.png'" alt=i18n.cartel.altImg data-toggle="tooltip" data-placement="top" title=i18n.cartel.tooltipImg)
