.hero-content#countdown
	.container
		.row
			.col-12.offset-lg-1.col-lg-10
				.entry-header
					h1 #{i18n.general.title}
					.entry-meta-date
						h2 #{i18n.countdown.date}
				.countdown.flex.flex-wrap.justify-content-between(data-date='2019/04/06 18:00')
					.countdown-holder
						.dday X
						label #{i18n.countdown.days}
					.countdown-holder
						.dhour X
						label #{i18n.countdown.hours}
					.countdown-holder
						.dmin X
						label #{i18n.countdown.minuts}
					.countdown-holder
						.dsec X
						label #{i18n.countdown.senconds}
