footer.site-footer
	.footer-content-wrapper
		.container
			.row
				.col-12
					.entry-title
						h2 #{i18n.general.title}
					.entry-mail
						a(href='mailto:info@femrevol.com' target="_blank") #{i18n.footer.email}
					.footer-social
						ul.flex.justify-content-around.align-items-center
							li
								a(href='https://es-es.facebook.com/CarrancaCony/' target="_blank" title=i18n.footer.facebook)
									i.fa.fa-facebook-f.fa-2x
							li
								a(href='https://twitter.com/FemRevol' target="_blank" title=i18n.footer.twitter)
									i.fa.fa-twitter.fa-2x
							li
								a(href='https://www.instagram.com/carrancacony/' target="_blank" title=i18n.footer.instagram)
									i.fa.fa-instagram.fa-2x
					.footer-colaborators
						h4 #{i18n.footer.organization}
						ul.flex.justify-content-center.align-items-center
							li
								img(src="./media/img/femrevol.png" alt=i18n.footer.femRevol)
						h4 #{i18n.footer.colaborate}
							ul.flex.justify-content-around.align-items-center
								li
									img(src="./media/img/ajuntament_martorelles.png" alt=i18n.footer.ajuntament)
								li
									img(src="./media/img/carrancarock-logo.png" alt=i18n.footer.carrancaRock)
					.copyright-info
						| #{i18n.footer.copyright}



a(href="https://www.freepik.es/fotos-vectores-gratis/fondo" target="_blank")
script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="js/vendor/bootstrap/bootstrap.js")
script(src='js/main.js')

