header.site-header
	.header-bar
		.container-fluid
			.row.align-items-center
				.col-10.col-lg-4
					.logo
						a(href='#')
							img(src="./media/img/femrevol.png" alt="FemRevol")
				.col-2.col-lg-8
						nav.site-navigation
							.hamburger-menu.d-lg-none
								span
								span
								span
								span
							ul
								li
									a(href="index_es.html")
										span
											|  #{i18n.general.es}
								li
									a(href="index_ca.html")
										span
											|  #{i18n.general.ca}
								li
									a(href='#') HOME
								li
									a(href="index_" + lang + ".html")
										span
											| #{i18n.general.home}
								li
									a(href="form_" + lang + ".html")
										span
											| #{i18n.general.confirmacion}
								li
									a(href="gracias_" + lang + ".html")
										span
											| #{i18n.general.gracias}
