header.site-header
	.header-bar
		.container-fluid
			.row.align-items-center
				.col-10.col-lg-4
					.logo
						a(href='#')
							img(src="./media/img/femrevol.png" alt="FemRevol")
				.col-2.col-lg-8
						nav.site-navigation
							.hamburger-menu
								span
								span
								span
								span
							ul
								li
									a(href="#countdown")
										span
											| #{i18n.general.home}
								li
									a(href="#about")
										span
											| #{i18n.general.about}
								li
									a(href="#lineup")
										span
											| #{i18n.general.lineup}
								li
									a(href="#cartel")
										span
											| #{i18n.general.cartel}
								li
									a(href="#location")
										span
											| #{i18n.general.location}
