- var lineup = i18n.lineup;

section.content-section#lineup
	.container
		.row
			.col-12
				.lineup-artists-headline
					.entry-title
						p #{i18n.lineup.title}
						h2 #{i18n.lineup.subtitle}
					.lineup-artists
						each val, index in lineup.items
							if val && !(index % 2)
								.lineup-artists-wrap.flex.flex-wrap
									figure.featured-image
										a(href=val.link)
											img(src=val.picture alt=val.name)
									.lineup-artists-description
										.lineup-artists-description-container
											.entry-title
												| #{val.name}
											.entry-content
												p
													| #{val.description}
							if val && (index % 2)
								.lineup-artists-wrap.flex.flex-wrap
									.lineup-artists-description
										figure.featured-image.d-md-none
											a(href=val.link)
												img(src=val.picture alt=val.name)
										.lineup-artists-description-container
											.entry-title
												| #{val.name}
											.entry-content
												p
													| #{val.description}
									figure.featured-image.d-none.d-md-block
										a(href=val.link)
											img(src=val.picture alt=val.name)
section.content-section#promo
	.container
		.row
			.col-12
				.lineup-artists-promotional-video
					h3.card-title
						| #{i18n.lineup.documentalTitle}
					iframe(width='100%', height='315', title="promocional", src='https://www.youtube.com/embed/BsxoKLFOSig', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


